* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/cork.png");
    background-size: contain;
}

/* header */

header {
    text-align: center;
    background-image: url("img/wall.png");
}

h1 {
    font-size: 50px;
    padding: 20px;
}

/* main */

#card-box {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    padding: 40px;
}

/* Card */

.card {
    position: relative;
    background-color: white;
}

.card-picture {
    height: 200px;
    padding: 10px;
}

/* image card */

.picture {
    width: 100%;
    height: 100%;
}

/* text card */

.card-text {
    padding: 10px;
}

/* pin */

#pin {
    width: 25px;
    position: absolute;
    top: -12px;
    left: 43%;
}